.carouselItem {
  height: 30rem;
  width: 50rem;
  padding: 0.8rem;
}
.carouselItem img {
  width: 25rem;
  height: 100%;
  object-fit: cover;
}

.innerCarousel {
  display: flex;
}

.carousel {
  padding: 1rem;
  overflow: hidden;
  background: #5E729E;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
