.carouselItem {
  height: 30rem;
  width: 50rem;
  padding: 0.8rem;
}
.carouselItem img {
  width: 20rem;
  height: 100%;
  object-fit: cover;
}

.innerCarousel {
  display: flex;
}

.carousel {
  padding: 1rem;
  overflow: hidden;
  margin: 10rem 5rem 5rem 5rem;
  background: rgb(77, 77, 77);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
