.btnLogin {
  text-transform: uppercase;
  background: rgb(77, 77, 77);
  border: solid 1px rgb(0, 255, 255);
}

.navigationContainer {
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background: rgb(77, 77, 77);
}
.navigationList {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-right: 10rem;
  overflow: hidden;
}

.logo {
  margin-left: 10rem;
  width: 5rem;
}

li {
  display: block;
  float: left;
  margin-left: 1rem;
  margin-right: 1rem;
}
li a {
  letter-spacing: 1px;
  font-size: 1.2rem;
  color: rgb(0, 255, 255);
  padding: 10px;
  text-decoration: none;
  display: block;
  border-bottom: solid 1px rgba(255, 255, 255, 0);
}

li a:active,
li a:hover {
  transform: scale(1.1);
  color: white;
  transition: all 0.2s;
}
li a:active:after,
li a:hover:after {
  transform: scaleX(1);
}

li a:after {
  display: block;
  content: "";
  transform: scaleX(0);
  border-bottom: 1px solid rgb(0, 255, 255);
  transition: all 0.2s ease-in-out;
}
