body {
  overflow-x: hidden;
}
.dashboard {
  position: absolute;
  right: 1px;
  left: 300px;
  top: 100px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
.dashboard .dashContent {
  margin-right: 10rem;
}
.dashContent .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dashContent .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: #10264a;
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dashContent .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
}
.dashContent .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: nowrap;
}
.dashContent .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 3 - 15px);
  padding: 15px 100px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--text-color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 35px;
  font-weight: 400;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.dashContent .activity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.mainActivity {
  display: flex;
}

.mainActivity table {
  border: 2px solid #10264a;
  letter-spacing: 1px;
  font-size: 0.8rem;
  border-spacing: 3rem;
}
.mainActivity thead {
  width: 100%;
}
