.carAttributes {
  padding: 0.7rem;
  display: flex;
  flex-wrap: wrap;
}
.carAttributes div {
  flex-basis: 45%;
  padding: 0.5rem;
}

.carCard {
  width: 30rem;
  background-color: #d4d1cb;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #5e729e;
  border-radius: 10px;
  padding-bottom: 1rem;
}
.carCard img {
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.carCard h2 {
  color: #10264a;
}
