.headerCardContainer{
    width: 80%;
    padding: 0.5rem 1rem 1rem 1rem;
    position: relative;
  background: #5E729E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}

.headerCardContainer h1,h2{
    color: #f1efeb;

}
.headerCardContainer h1{
    margin: 1rem;
    border-radius: 20px;
    background-color:#10264a;
    padding: 1rem;
    border-bottom: 1px solid #a1a8c1;
    font-weight: 100;
    font-size: 3rem;
}
.headerCardContainer h2{
    margin: 1rem;
    font-weight: 300;
    padding: 1rem;
}